%%%
%%% The address where APNS server resides, 
%%% normally apple provides a dns name.
%%%
{address_apns, "gateway.sandbox.push.apple.com"}.

%%%
%%% The port where APNS server resides,
%%% normally as the address, it is provided by apple.
%%%
{port_apns, 2195}.

%%%
%%% The cert file, commonly with .pem extension, 
%%% it could be created with the .cer file (your certificate).
%%%
{certfile_apns, "/path/to/Cert.pem"}.

%%%
%%% The key file, commonly with .pem extension,
%%% it could be created with the .p12 file.
%%%
{keyfile_apns, "/path/to/Key.pem"}.

%%%
%%% The password for the key.pem file (if any).
%%%
{password_apns, "passapns"}.

%%%
%%% The timeout to establish a connection with the 
%%% APNS server, default is set to 10000.
%%%
{timeout_apns, 10000}.
